body {
  text-align: center;
}
h1 {
  font-weight: normal;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}
.mb-3,
.mb-4,
.accnt,
.footerlink {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
}
.mb-3,
.mb-4{
  text-align: left;
}
#btn1 {
  margin-top: 20px;
  width: 100%;
}
.container-form {
  padding: 15px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
  background-color: azure;
}
.accnt {
  font-size: 14px;
  text-align: center;
  border: 1px solid #b4b4b488;
  border-radius: 6px;
  margin-top: 15px;
}
.footerlink {
  margin: 3%;
}
#foot {
  padding: 0.2%;
  list-style-type: none;
  font-size: 14px;
  text-decoration: none;
}
.logo {
  text-align: center;
  margin-top: 3%;
}
#foot:hover {
  color: #5f5d5d;
  text-decoration: underline;
}
#ant {
  text-decoration: none;
  float: right;
}
#ant:hover {
  text-decoration: underline;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 2%;
  padding: 3%;
}
.logo{
  margin: 30px;
}
.link-primary{
  text-decoration: none;
}
.link-primary:hover{
  text-decoration: underline;
}
